<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

{{#*inline "severityIcon"}}
    <li class="severity-list__item severity-list__item--{{severity}}" data-snyk-test="severity list item {{severity}}">
        <span class="severity-list__item-text">{{char}}</span>
    </li>
{{/inline}}

<details th:fragment="frag (node)" class="tree__branch" data-snyk-test="dependency ${node.artifactId} ${node.version}" data-snyk-dep
         data-snyk-dep-vulns="all vulnerable" data-snyk-dep-type="dep">
    <summary class="tree__branch-text" data-snyk-test="dependency tree item">
        <ul class="severity-list severity-list--compact" data-snyk-test="dependency severity">
            {{#if node.hasHighVuln}} {{> severityIcon severity="high"   char="H"}} {{/if}}
            {{#if node.hasMedVuln}}  {{> severityIcon severity="medium" char="M"}} {{/if}}
            {{#if node.hasLowVuln}}  {{> severityIcon severity="low"    char="L"}} {{/if}}
        </ul>
        <span>{{node.name}}</span>
    </summary>


    {{#each node.nested}}
        {{> fragments/depnode node=this}}
    {{/each}}

</details>


</body>

</html>
