###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto
*.bat eol=crlf
