# Default detekt configuration:
# https://github.com/detekt/detekt/blob/master/detekt-core/src/main/resources/default-detekt-config.yml

formatting:
  Indentation:
    continuationIndentSize: 8

complexity:
  # don't count private & deprecated
  # add integTest folder to excludes - we can't have too many tests
  TooManyFunctions:
    ignorePrivate: true
    ignoreDeprecated: true
    excludes: [ '**/integTest/**', '**/test/**', '**/androidTest/**', '**/commonTest/**', '**/jvmTest/**', '**/jsTest/**', '**/iosTest/**' ]

  MagicNumber:
    ignorePropertyDeclaration: true
    ignoreLocalVariableDeclaration: true
    ignoreEnums: true
    ignoreRanges: true
    excludes: [ '**/integTest/**', '**/test/**', '**/androidTest/**', '**/commonTest/**', '**/jvmTest/**', '**/jsTest/**', '**/iosTest/**' ]

