# Default detekt configuration:
# https://github.com/detekt/detekt/blob/master/detekt-core/src/main/resources/default-detekt-config.yml

formatting:
  Indentation:
    continuationIndentSize: 8
  MaxLineLength:
    active: false
  NoWildcardImports:
    active: false

complexity:
  # don't count private & deprecated
  # add integTest folder to excludes - we can't have too many tests
  TooManyFunctions:
    ignorePrivate: true
    ignoreDeprecated: true
    excludes: [ '**/integTest/**', '**/test/**', '**/androidTest/**', '**/commonTest/**', '**/jvmTest/**', '**/jsTest/**', '**/iosTest/**' ]

style:
  ReturnCount:
    active: true
    max: 5
    excludedFunctions: 'equals'
    excludeLabeled: false
    excludeReturnFromLambda: true
    excludeGuardClauses: true

