::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background: #595a5c;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-color);
  font-weight: 400;
}

a,
.link {
  color: var(--link-color);
}

// TODO: remove ignore styling at the end of cycle 5 2025
// TODO: keep the font-size - it should come from Language Server
.ignore-warning {
  background: #FFF4ED;
  color: #B6540B;
  border: 1px solid #E27122;
  font-size: 0.85rem;
}

.ignore-badge {
  background: #FFF4ED;
  color: #B6540B;
  border: 1px solid #E27122;
  font-size: 0.75rem;
}

.delimiter-top {
  border-top: 1px solid var(--border-color)
}

.issue-overview-header,
.ignore-details-header,
.data-flow-header,
.ai-fix-header,
.example-fixes-header,
.overview-text > h2 {
}

.severity-type-container {
}

.data-flow-clickable-row {
  color: var(--link-color);
}

.tabs-nav {
  border-bottom: 1px solid var(--tabs-bottom-color);
}

.tab-item {
}

.tab-item-icon path {
  fill: var(--tab-item-github-icon-color);
}

.tab-item:hover {
  background-color: var(--tab-item-hover-color);
}

.tab-item.is-selected {
  border-bottom: 3px solid #3474f0;
}

.example-line.added {
  background-color: var(--example-line-added-color);
}

.example-line.removed {
  background-color: var(--example-line-removed-color);
}

.ignore-action-container {
  display: none;
}

.light .dark-only,
.high-contrast.high-contrast-light .dark-only {
  display: none;
}

.dark .light-only,
.high-contrast:not(.high-contrast-light) .light-only {
  display: none;
}

.example { // AI fix suggestion
  background-color: var(--container-background-color);
}

.sn-ai-fixes {
  padding-top: 20px;
}

.sn-ai-fix-error {
  padding-top: 20px;
}

.sn-fix-wrapper {
  background-color: var(--container-background-color);  // same variable used in snyk_oss_suggestion.scss
}

button.generate-ai-fix, button.sn-apply-fix {
  background-color: var(--generated-ai-fix-button-background-color);
  color: white;
}

button.generate-ai-fix:hover, button.sn-apply-fix:hover {
  opacity: 0.9; /* Slightly reduces opacity on hover */
}

button.sn-apply-fix {
  border-radius: 3px;
  border: 1px solid var(--dark-button-border-default);
  background: var(--dark-button-default);
  padding: 4px 12px;
}
