::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background: #595a5c;
}

html, body {
  height: 100%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-color);
  font-weight: 400;
  font-size: 0.875rem;
}

a,
.link {
  color: var(--link-color);
}

// TODO: remove ignore styling at the end of cycle 5 2025
// TODO: keep the font-size - it should come from Language Server
.ignore-warning {
  background: #FFF4ED;
  color: #B6540B;
  border: 1px solid #E27122;
  font-size: 0.85rem;
}

.ignore-badge {
  background: #FFF4ED;
  color: #B6540B;
  border: 1px solid #E27122;
  font-size: 0.75rem;
}

.delimiter-top {
  border-top: 1px solid var(--border-color)
}

.issue-overview-header,
.ignore-details-header,
.data-flow-header,
.ai-fix-header,
.example-fixes-header,
.overview-text > h2 {
  font-size: 0.85rem;
}

.severity-type-container {
  font-size: 0.85rem;
}

.data-flow-text {
  font-size: 1.05rem;
}

.data-flow-clickable-row {
  color: var(--link-color);
}

.tabs-nav {
  border-bottom: 1px solid var(--tabs-bottom-color);
}

.tab-item {
  font-size: 0.85rem;
}

.tab-item-icon path {
  fill: var(--tab-item-github-icon-color);
}

.tab-item:hover {
  background-color: var(--tab-item-hover-color);
}

.tab-item.is-selected {
  border-bottom: 3px solid #3474f0;
}

.example-line {
  background-color: var(--editor-color);
}

.example-line > code {
  font-size: 1.05rem;
}

.example-line.added {
  background-color: var(--example-line-added-color);
}

.example-line.removed {
  background-color: var(--example-line-removed-color);
}

.ignore-action-container {
  display: none;
}

.light .dark-only,
.high-contrast.high-contrast-light .dark-only {
  display: none;
}

.dark .light-only,
.high-contrast:not(.high-contrast-light) .light-only {
  display: none;
}
