<nav
  class="admin-nav{{#if modifiers}}{{#each (splitList modifiers)}} admin-nav--{{this}}{{/each}}{{/if}}{{#if isImpersonating}} admin-nav--impersonating{{/if}}"
  {{#if isImpersonating}} {{test-hook "admin nav - impersonation"}}{{else}} {{test-hook "admin nav - default"}}{{/if}}>
  <div class="l-constrain">
    <ul class="admin-nav__list">
      <li>
        <h1 class="admin-nav__title">Admin</h1>
      </li>
      {{#each links }}
        <li class="admin-nav__item">
          <a id="{{ id }}" class="admin-nav__label" href="{{ url }}" {{#if_eq id ../current}} aria-current="page"{{/if_eq}}>{{ title }}</a>
        </li>
      {{/each}}
    </ul>
    {{#if isImpersonating}}
      {{#> @form
        action=logoutHref
        method="get"
        form-modifier="admin-nav__note"
        }}
        {{#if authVendor}}
          {{> @field
            hideLabel=true
            type="hidden"
            name="reAuth"
            value=authVendor
          }}
        {{/if}}
        Impersonating user:
        {{> @avatar
          label=username
          url=avatar
        }}
        {{> @button
          modifier="btn--xs"
          button=label
        }}
      {{/ @form~}}
    {{/if}}
  </div>
</nav>
