<div class="blockquote{{#if modifiers}}{{#each (splitList modifiers) }} blockquote--{{this}}{{/each}}{{/if}}"{{~#if test-hook}} {{test-hook (concat test-hook)}}{{else}} {{test-hook "blockquote"}}{{/if}}>

  {{#if image}}
    <div class="blockquote__image" {{test-hook "blockquote image"}}>
      {{> @avatar
        url=image
        size=size
      }}
    </div>
  {{/if}}

  <blockquote class="blockquote__text">
    <div class="blockquote__quote" {{test-hook "blockquote text"}}>
      {{#if quote}}
        “{{quote}}”
      {{else}}
        {{#if @partial-block}}
          “{{> @partial-block }}”
        {{/if}}
      {{/if}}
    </div>
    {{#if name}}
    <cite class="blockquote__cite">
      <strong {{test-hook "blockquote name"}}>{{#if url}}<a href="{{url}}" {{test-hook "blockquote url"}}>{{/if}}{{name}}{{#if url}}</a>{{/if}}</strong>{{#if role}}, <span {{test-hook "blockquote role"}}>{{role}}</span>{{/if}}
    </cite>
    {{/if}}
  </blockquote>

</div>
