<button
{{#if id}}id="{{id}}"{{/if}}
{{#if type}}type="{{type}}"{{/if}}
{{#if style}}style="{{style}}"{{/if}}
{{#if formaction}}formaction="{{formaction}}"{{/if}}
class="btn{{#if modifier}} {{modifier}}{{/if}} {{#if button-negative}}btn--negative{{/if}} {{#if modifiers}}{{#each (splitList modifiers) }} btn--{{this}}{{/each}}{{/if}} {{button-class}} {{~#if icon}}btn--icon{{/if}}"{{!-- Depricating modifier in favour of modifiers --}}
{{#if aria-label}} aria-label="{{aria-label}}"{{/if}}
{{#if track-on-click}} data-snyk-track-on-click="{{track-on-click}}"{{/if}}
{{#if track-link}} data-snyk-track-link="{{track-link}}"{{/if}}
{{#if button-click}} data-snyk-click="{{button-click}}"{{/if}}
{{#if button-disabled}} disabled{{/if}}
{{#if button-test-hook}} {{test-hook (concat button-test-hook)}}{{/if}}
{{#if password-toggle-data}} data-snyk-password-toggle="{{password-toggle-data}}"{{/if}}
{{#if button-public-id}}data-snyk-public-id="{{button-public-id}}"{{/if}}
{{#if button-purchase}}data-purchase="{{button-purchase}}"{{/if}}
{{#if plan-name}}data-plan-name="{{plan-name}}"{{/if}}
{{#if clipboard-target}}data-clipboard-target="{{clipboard-target}}"{{/if}}
{{#if interstitial-data}}data-snyk-interstitial="{{interstitial-data}}"{{/if}}
{{#if ignore-target}}data-snyk-ignore-target="{{ignore-target}}"{{/if}}
{{#if button-data}} {{button-data}}{{/if}}
{{#if v-show}} v-show="{{v-show}}"{{/if}}
{{#if :click}}  v-on:click="{{:click}}"{{/if}}
>
{{#> label-block}}
  {{~#if icon}}
    {{svg (concat "icon/" icon) height="21" width="21"}}
  {{/if}}
  {{~ button}}
{{/label-block}}
</button>
