<div class="chart-tooltip">
<span class="chart-tooltip__title">{{date}}</span>
{{#each metrics}}
<p class="chart-tooltip__description">
  {{amount}} {{label}}
</p>
{{/each}}
{{~#if severity}}
<ul class="severity-list severity-list--sm">
  <li class="severity-list__item severity-list__item--high">
    <span class="severity-list__item-count">{{severity.high}}</span>
    <span class="severity-list__item-text">H</span>
  </li>
  <li class="severity-list__item severity-list__item--medium">
    <span class="severity-list__item-count">{{severity.medium}}</span>
    <span class="severity-list__item-text">M</span>
  </li>
  <li class="severity-list__item severity-list__item--low">
    <span class="severity-list__item-count">{{severity.low}}</span>
    <span class="severity-list__item-text">L</span>
  </li>
</ul>
{{/if}}
{{~#if data}}
<ul class="chart-tooltip__description">
  {{#each data}}
  <li class="chart-tooltip__key">
    <span class="chart-tooltip__swatch" style="background-color: {{color}};"></span>
    {{label}}: <strong>{{result}}</strong>
  </li>
  {{/each}}
</ul>
{{/if}}
</div>
