{{#if label}}<label for="{{id}}" class="dropdown__label {{#if required}} required{{/if}}">{{label}}</label>{{/if}}
<div class="dropdown{{#if disabled}} dropdown--disabled{{/if}}{{#if modifiers}}{{#each (splitList modifiers) }} dropdown--{{this}}{{/each}}{{/if}}"{{#if dropdown-test-hook}} {{test-hook (concat dropdown-test-hook)}}{{/if}}>
  {{~#if icon}}
    <span class="dropdown__icon">
      {{#if modifiers}}
        {{#if_any modifiers "sm" "xs"}}
          {{svg (concat "icon/" icon) width="18" height="18"}}
        {{else}}
          {{svg (concat "icon/" icon) width="22" height="22"}}
        {{/if_any}}
      {{else}}
        {{svg (concat "icon/" icon) width="22" height="22"}}
      {{/if}}
    </span>
  {{/if}}
  <select class="dropdown__toggle" id="{{id}}" name="{{id}}" {{#if disabled}}disabled{{/if}}>
    {{#each options}}
    <option value="{{value}}"{{#if_eq value ../selected}} selected{{/if_eq}}{{#if disabled}} disabled{{/if}}>
      {{label}}
    </option>
    {{/each}}
  </select>
</div>
