<div class="dropdown-filter{{#if disabled}} dropdown-filter--disabled{{/if}}{{#if modifiers}}{{#each (splitList modifiers) }} dropdown-filter--{{this}}{{/each}}{{/if}}"{{#if dropdown-test-hook}} {{test-hook (concat dropdown-test-hook)}}{{/if}} data-snyk-dropdown-filter>
  {{~#if icon}}
    <span class="dropdown__icon">
    {{#if modifiers}}
      {{#if_any modifiers "sm" "xs"}}
        {{svg (concat "icon/" icon) width="18" height="18"}}
      {{else}}
        {{svg (concat "icon/" icon) width="22" height="22"}}
      {{/if_any}}
    {{else}}
      {{svg (concat "icon/" icon) width="22" height="22"}}
    {{/if}}
    </span>
  {{/if}}
  <button class="dropdown__toggle" data-snyk-dropdown-filter="toggle"{{#if disabled}} disabled{{/if}}>
    {{title}}
  </button>
  <div class="dropdown__content" data-snyk-dropdown-filter="content">
    {{~#if search}}
    <div class="dropdown__tools">
      {{> @search
        search-filter="input"
        search-input-modifier="input--xs"
      }}
    </div>
    {{/if}}
    <div class="dropdown__options">
      <h2 class="dropdown__heading">{{label}}</h2>
      <ul>
      {{~#each options}}
        <li{{~#if ../search}} data-snyk-search-filter="item" {{/if}}>
          {{> @form-checkbox
            checkbox-modifier="checkbox--sm"
            checkbox-label=label
            checkbox-label-search-filter="text"
            checkbox-name=../name
            checkbox-value=value
            checkbox-id=(concat 'filter-' ../name '-' value)
            checkbox-checked=checked
          }}
        </li>
      {{/each}}
      </ul>
    </div>
  </div>
</div>
