{{~#each items}}
  <li class="filter__group__item{{#if selected}} filter__group__item--current{{/if}}{{#if disabled}} filter--disabled{{/if}}" data-snyk-filter-group-item="{{value}}" {{test-hook 'filter item'}}>
    {{~#if url}}
    <a href="{{url}}" class="filter__link">
    {{/if}}
    <label for="{{id}}" class="radio{{#if label-hidden}} hidden{{/if}}{{#if required}} required{{/if}}{{#if modifier}} {{modifier}}{{/if}}">{{label}}
      <input type="radio" name="{{../name}}" id="{{id}}" class="radio__input"{{#if error}} aria-describedby="error-{{id}}"{{/if}}{{#if required}} required{{/if}}{{#if value}} value="{{value}}"{{else}} value="{{id}}"{{/if}}{{#if disabled}} disabled{{/if}}{{#if checked}} checked{{/if}} />
      <span class="radio__toggle"></span>
    </label>
    {{~#if length includeZero=true}}
      {{#if severity}}
        {{> @pill label=length modifiers=(concat "severity-" severity)}}
      {{else}}
        {{> @pill label=length}}
      {{/if}}
    {{/if}}
    {{~#if url}}
    </a>
    {{/if}}
  </li>
{{/each}}
