<div>
  {{> @search
    :search-placeholder="searchPlaceholder"
    v-model="searchQuery"
  }}

  <div class="l-repel l-push-top--sm l-push-btm--md t--xs">
    <h3>\{{filterLabel}} (selected \{{selectedItems.length}} of \{{ items.length }})</h3>
    <span v-if="selectedItems.length < 3">
      {{> @button
        button="Select All"
        button-class="link--quiet"
        modifiers="link"
        :click="selectAll"
      }}
    </span>
    <span v-else>
      {{> @button
        button="Deselect All"
        button-class="link--quiet"
        modifiers="link"
        :click="deselectAll"
      }}
    </span>
  </div>

  <ul>
    <li v-for="item in listItems.slice(0, 100)" :key="item.publicId">
      {{> @form-checkbox
        checkbox-label="{{item.title}}"
        checkbox-modifier="checkbox--sm"
        v-model="selectedItems"
        :value="item.publicId"
        :name="orgs"
        :id="item.publicId"
      }}
    </li>
  </ul>
</div>
