<div class="fix-card{{#if disabled}} fix-card--disabled{{/if}}"
{{~#if disabled~}}
  {{test-hook "fix card disabled"}}
{{~else~}}
  {{test-hook "fix card enabled"}}
{{~/if~}}>
  <span {{#if disabled}}aria-disabled="true"{{else}}data-snyk-loading-link{{/if}}>
    {{svg "icon/git-pr" height="20" width="20"}}
    {{#unless disabled}}
      <a href="{{url}}" {{test-hook "fix card link"}} class="fix-card__link">
    {{~/unless~}}
      Fix this vulnerability
    {{~#unless disabled~}}
      </a>
    {{~/unless~}}
  </span>
</div>
