<div class="form__group form__group--stretch">
  {{#if error}}
    {{#> @alert modifiers="warning" id=(concat id "-error") }}
      {{error}}
    {{/ @alert}}
  {{/if}}

  {{!TODO: remove if, use input-type to dynamically select @form-input variant}}
  {{#if_eq input-type "url"}}
    {{> @form-input--url}}
  {{else}}
    {{#if_eq input-type "password"}}
      {{> @form-input--password}}
    {{else}}
      {{> @form-input--text}}
    {{/if_eq}}
  {{/if_eq}}

  {{#if button}}
    {{> @button}}
  {{/if}}

  {{#if caption}}
    {{> @caption}}
  {{/if}}
</div>
