<div class="select{{#if modifiers}}{{#each (splitList modifiers) }} select--{{this}}{{/each}}{{/if}}{{#if disabled}} select--disabled{{/if}}">
  <label for="{{id}}" class="{{#if label-hidden}}hidden{{/if}}">{{label}}</label>
  <div class="select__wrapper">
    <select id="{{id}}" name={{#if name}}"{{name}}"{{else}}"{{id}}"{{/if}} {{#if disabled}}disabled{{/if}} {{#if select-data}} {{select-data}}{{/if}}>
      {{#each options}}
      <option {{#if label }}label="{{label}}"{{/if}} value="{{value}}" {{#if disabled}}disabled{{/if}} {{#if_eq value ../selected}} selected{{/if_eq}} {{#if selected}}selected{{/if}}>{{title}}</option>
      {{/each}}
    </select>
  </div>
</div>
