
</main>


{{#unless noNav}}
<footer id="footer" class="site-footer">

  <div class="nav nav--footer l-constrain">

  {{!-- primary CTA --}}
  {{#unless user.flags}}
  <div id="signup" class="site-cta nav__group nav__group--large">
    <h2 class="nav__list__item__heading">Get free account</h2>
    <form class="site-cta__form" method="get" action="/signup">
      <button class="btn" type="submit">Sign up</button>
    </form>
  </div>
  {{/unless}}

  <nav class="nav__group">
    <h2 class="nav__list__item__heading">Product</h2>
    <ul class="nav__list">
      <li class="nav__list__item">
        <a href="/partners" class="nav__list__item__link">Partners</a>
      </li>
      <li class="nav__list__item">
        <a href="/features" class="nav__list__item__link">Features</a>
      </li>
      {{#if showPlans}}
      <li class="nav__list__item">
        <a href="/plans" class="nav__list__item__link">Pricing</a>
      </li>
      {{/if}}
      <li class="nav__list__item">
        <a href="/test#github-repo" class="nav__list__item__link">Test with GitHub</a>
      </li>
      <li class="nav__list__item">
        <a href="/test#local-project" class="nav__list__item__link">Test with CLI</a>
      </li>
      {{#if showApiStatusLink}}
      <li class="nav__list__item">
        <a href="https://snyk.statuspage.io/" class="nav__list__item__link">API status</a>
      </li>
      {{/if}}
    </ul>
  </nav>

  <nav class="nav__group">
    <h2 class="nav__list__item__heading">Resources</h2>
    <ul class="nav__list">
      <li class="nav__list__item">
        <a href="/vuln/" class="nav__list__item__link">Vulnerability DB</a>
      </li>
      {{#if showBlog}}
      <li class="nav__list__item">
        <a href="/blog/" class="nav__list__item__link">Blog</a>
      </li>
      {{/if}}
      {{#if showDocs}}
      <li class="nav__list__item">
        <a href="/docs" class="nav__list__item__link">Documentation</a>
      </li>
      {{/if}}
      {{#if showResearch}}
      <li class="nav__list__item">
        <a href="/research" class="nav__list__item__link">Security Research</a>
      </li>
      {{/if}}
      {{#if showFaq}}
      <li class="nav__list__item">
        <a href="https://support.snyk.io/" class="nav__list__item__link">FAQs</a>
      </li>
      {{/if}}
      <li class="nav__list__item">
        <a href="mailto:support@snyk.io" class="nav__list__item__link">Support</a>
      </li>
      {{#if showReportVuln}}
      <li class="nav__list__item">
        <a href="https://docs.google.com/a/snyk.io/forms/d/e/1FAIpQLSemwgWZ0JgK1ZULKhy9DZCQ5KulbLEldvmokAuRtt-_nrqNlA/viewform" class="nav__list__item__link">Report a new vuln</a>
      </li>
      {{/if}}
    </ul>
  </nav>

  <nav class="nav__group {{#if user.flags}}nav__group--large{{/if}}">
    <h2 class="nav__list__item__heading">Company</h2>
    <ul class="nav__list">
      <li class="nav__list__item">
        <a href="/about" class="nav__list__item__link">About</a>
      </li>
      <li class="nav__list__item">
        <a href="/jobs" class="nav__list__item__link">Jobs</a>
      </li>
      <li class="nav__list__item">
        <a href="mailto:contact@snyk.io" class="nav__list__item__link">Contact</a>
      </li>
      <li class="nav__list__item">
        <a href="/policies" class="nav__list__item__link">Policies</a>
      </li>
      <li class="nav__list__item">
        <a href="https://github.com/snyk/press-kit" class="nav__list__item__link">Press kit</a>
      </li>
      <li class="nav__list__item">
        <a href="/events" class="nav__list__item__link">Events</a>
      </li>
    </ul>
  </nav>

  <nav class="nav__group nav__group--large">
    <h2 class="nav__list__item__heading">Find us online</h2>
    <h3 class="nav__list__item__label">Stay up to date</h3>
    <ul class="list-social list-social--l u--push-bottom-m">
      <li class="list-social__item">
        <a href="https://twitter.com/snyksec" class="list-social__link--twitter">
          <span class="list-social__item__text">Twitter</span>
        </a>
      </li>
      <li class="list-social__item">
          <a href="https://www.youtube.com/channel/UCh4dJzctb0NhSibjU-e2P6w" class="list-social__link--youtube">
            <span class="list-social__item__text">Youtube</span>
          </a>
      </li>
      <li class="list-social__item">
        <a href="https://www.facebook.com/snyksec" class="list-social__link--facebook">
          <span class="list-social__item__text">Facebook</span>
        </a>
      </li>
      <li class="list-social__item">
        <a href="https://www.linkedin.com/company/snyk" class="list-social__link--linkedin">
          <span class="list-social__item__text">LinkedIn</span>
        </a>
      </li>
    </ul>

    <h3 class="nav__list__item__label">Track our development</h3>
    <ul class="list-social list-social--l">
      <li class="list-social__item">
        <a href="https://github.com/Snyk/" class="list-social__link--github">
          <span class="list-social__item__text">Github</span>
        </a>
      </li>
      <li class="list-social__item">
        <a href="https://www.npmjs.com/snyk" class="list-social__link--npm">
          <span class="list-social__item__text">npmjs.com</span>
        </a>
      </li>
    </ul>
  </nav>


</div>


  <div class="l-container">
    <small class="subhead">© {{moment d "YYYY"}} Snyk Ltd.</small>
  </div>

</footer>
{{/unless}}

<div class="fullpage-spinner">
  <div class="fullpage-spinner__spinner">
    <div class="spinner"></div>
  </div>
</div>
