<div class="header{{#if modifiers}}{{#each (splitList modifiers) }} header--{{this}}{{/each}}{{/if}}{{~#if nav}} header--nav{{/if}}">
  <div class="header__content">
    <div class="l-push-btm--md">
      {{> @breadcrumbs--vuln}}
    </div>
  </div>

  {{#> @layout-cols modifiers="split, strip, sidebar" cols="2"}}

    {{#*inline "block-1"}}
      <h1 class="header__title" {{test-hook "header title"}}>{{#if title-icon}}<span class="header__icon" {{test-hook (concat "header icon " title-icon)}}>{{svg (concat "icon/" title-icon) height=36 width=36}}</span> {{/if}}{{title}}</h1>
      {{~#if lede}}<p class="header__lede" {{test-hook "header lede"}}>{{lede}}</p>{{/if}}
      {{#if latestVersion}}
        <p class="header__lede l-push-btm--sm" {{test-hook "header lede extra"}}><strong>Latest version: {{latestVersion}}</strong></p>
      {{/if}}
      {{#if latestVersion}}
        <a href="{{linkToModule packageManager filter}}" {{test-hook "link to package manager"}}>View on {{packageManagerSite packageManager}}</a>
      {{/if}}
    {{/inline}}

    {{#*inline "block-2"}}
      {{#if licenses}}
        {{> @heading heading="Licenses detected" modifiers="subhead"}}
        {{> @license-list modifiers=""}}
      {{/if}}
    {{/inline}}

  {{/ @layout-cols}}

</div>
