<div
  class="heading{{~#if modifiers}}{{#each (splitList modifiers) }} heading--{{this}}{{/each}}{{/if}}">
  {{~#if heading-icon}}
    {{svg (concat "icon/" heading-icon) width=24 height=24 }}
  {{/if}}
  <h{{~#if heading-level}}{{heading-level}}{{else}}1{{/if}}
    class="heading__title"
    {{~#if test-hook}} {{test-hook (concat test-hook)}}{{else}} {{test-hook "heading"}}{{/if}}
    {{~#if id}} id="{{id}}"{{/if}}>
    {{heading}}
  </h{{#if heading-level}}{{heading-level}}{{else}}1{{/if}}>
  {{~#if id}}
    {{#unless hideAnchor }}
    <a class="heading__anchor" href="#{{id}}" aria-hidden="true"><span></span></a>
    {{/unless}}
  {{/if}}
  {{~#if note}}
    <p class="heading__note">
    {{~#if url}}<a class="heading__url" href="{{url}}">{{/if}}
      {{note}}
    {{~#if url}}</a>{{/if}}
    </p>
  {{/if}}
</div>
