<div class="header header--strip header--severity-{{vuln.severity}}{{#if modifiers}}{{#each (splitList modifiers) }} header--{{this}}{{/each}}{{/if}}">
  <div class="l-constrain">
    {{> @breadcrumbs--vuln}}
  </div>

  {{#> @layout-cols modifiers="sidebar" cols=2}}


    {{#*inline "block-1"}}

        <h1 class="header__title">
          {{#if_eq list.0.type "license"}}
            {{svg "icon/license" height="32" width="32"}}
          {{else}}
            {{svg "icon/vuln" height="32" width="32"}}
          {{/if_eq}}
          <span class="header__title__text" {{test-hook "vuln title"}}>{{title}}</span>
        </h1>
        <p class="header__lede">Affecting
          <strong {{test-hook "vuln module"}}>
          {{#if_eq vuln.packageManager 'maven'}}{{module}}{{else}}<a class="breadcrumbs__list-item__link" href="/vuln/{{vuln.packageManager}}:{{encode module}}">{{module}}</a>{{/if_eq}}</strong> {{moduleType vuln.packageManager}}{{#if vulnerableVer}}, {{#if_eq vulnerableVer "ALL"}}<strong {{test-hook "vuln versions"}}>{{{vulnerableVer}}}</strong> versions{{else}}versions <strong {{test-hook "vuln versions"}}>{{{vulnerableVer}}}</strong>{{/if_eq}}{{/if}}</p>
      {{/inline}}
      {{#*inline "block-2"}}
        <div class="l-pull-right">
          {{#if isConfidential}}
            {{> @label--confidential}}
          {{/if}}
          {{> @label--severity}}
        </div>
      {{/inline}}
  {{/ @layout-cols}}
</div>
