<div class="interstitial{{#if modifiers}}{{#each (splitList modifiers)}} interstitial--{{this}}{{/each}}{{/if}}"
{{~#if test-hook}} {{test-hook (concat test-hook)}}{{else}} {{test-hook "interstitial"}}{{/if}}>

  <div class="interstitial__container">

    {{#if title}}
      <div class="interstitial__title" {{test-hook "interstitial title"}}>
        {{> @header
          modifiers=""
          test-hook=""
          id=""
        }}
      </div><!-- .interstitial__title -->
    {{/if}}

    <div class="interstitial__description" {{test-hook "interstitial description"}}>
      {{#> description}}
      {{/description}}
    </div><!-- .interstitial__description -->

    {{#if @partial-block}}
      <div class="interstitial__body" {{test-hook "interstitial body"}}>
        {{> @partial-block }}
      </div><!-- .interstitial__footer -->
    {{/if}}

    <div class="interstitial__footer" {{test-hook "interstitial footer"}}>
      {{#> footer}}
      {{/footer}}
    </div><!-- .interstitial__footer -->

  </div><!-- .interstitial__container -->

</div><!-- .interstitial -->
