<div id="issue-{{slugify id}}" class="issue issue--severity-{{severity}}
{{~#if modifiers}}{{#each (splitList modifiers) }} issue--{{this}}{{/each}}{{/if}}
{{~#if ignored}} issue--ignored{{/if}}
{{~#if patches}} issue--patched{{/if}}
{{~#if hidden}} hidden--sr{{/if}}"
data-snyk-issue
data-snyk-issue-type="{{issueType}}"
data-snyk-issue-severity="{{severity}}"
{{~#if hidden}} data-snyk-issue-hidden{{/if}}
{{#if_any isPatched isIgnored}} data-snyk-issue-policy="{{#if isIgnored}}ignored{{/if}}{{#if isPatched}} patched{{/if}}"
{{/if_any}} data-snyk-issue-disclosure="all{{#if isNew}} new{{/if}}"
{{#if isConfidential}} data-snyk-issue-confidentiality="confidential"{{/if}}
{{test-hook (concat 'issue type ' issueType)}}>

  {{~#if severity}}
    {{> @label--severity}}
  {{/if}}

  {{~#if isNew}}
    {{> @label modifiers="new" text="new"}}
  {{/if}}

  {{~#if isConfidential}}
    {{> @label--confidential }}
  {{/if}}

  {{~#if ignored}}
    {{> @label--ignored}}
  {{/if}}

  {{~#if patches}}
    {{> @label--patched}}
  {{/if}}

  <div class="issue__heading">
    {{~#if issueType}}
      {{> @heading heading=title heading-icon=issueType}}
    {{else}}
      {{> @heading heading=title heading-icon="vuln"}}
    {{/if}}
  </div>

  <div class="issue__content">

    <ul class="issue__meta" {{test-hook "issue card metadata"}}>

      <li class="issue__meta__item">{{#if_eq issueType "license"}}Module:{{else}}Vulnerable module:{{/if_eq}}
        {{snykTestModuleLink issueSource packageManager}}
      </li>
      <li class="issue__meta__item">Introduced through:
        {{#if_eq (count introducedBy) 1}}
          {{snykTestModuleLink introducedBy.[0] packageManager}}
        {{/if_eq}}

        {{#if_eq (count introducedBy) 2}}
          {{snykTestModuleLink introducedBy.[0] packageManager}} and {{snykTestModuleLink introducedBy.[1] packageManager}}
        {{/if_eq}}

        {{#ifCond (count introducedBy) '>=' 3}}
          {{snykTestModuleLink introducedBy.[0] packageManager}}, {{snykTestModuleLink introducedBy.[1] packageManager}} and others
        {{/ifCond}}
      </li>

    </ul>

    <!-- Ignored issue -->
    {{#each ignored}}
      {{> @ignored-card
        id=../id
        editIgnore=(concat "ignore-issue-nav-" ../id @index)
      }}

      {{#> @dialog
        id=(concat "ignore-issue-nav-" ../id @index)
        modifiers="nav, hidden"
      }}
        <div data-snyk-ignore-nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              {{> @link
                label="Edit"
                modifier="nav__link"
                href=(concat "#ignore-issue-edit-" (encode (concat ../../id @index))) }}
            </li>
            <li>
              {{#> @form
                  action=(concat '/org/' @root.org.name '/project/' @root.project.publicId '/ignore/' ../../id '?_method=DELETE')
                  method="POST"
                  data="data-snyk-ignore-delete"
                }}
                  {{> @button
                    button="Unignore"
                    button-test-hook="issue unignore"
                    modifiers="link"
                    modifier="nav__link" }}
              {{/ @form}}
            </li>
          </ul>
        </div>
      {{/ @dialog}}

      {{#> @dialog
        heading="Edit this ignore"
        anchor=(concat "[href*='ignore-issue-nav-" (encode ../id @index) "']")
        id=(concat "ignore-issue-edit-" ../id @index)
        modifiers="hidden"
        dismissable=true
      }}

        {{#> @form method="post"
          action=(concat "/org/" @root.org.name "/project/" @root.project.publicId "/ignore/" ../../id "?_method=PUT" )
          data="data-snyk-ignore-edit"
        }}
          <div class="l-push-btm--sm">
            {{> @dropdown options=ignoreReasonDropdown.options label=ignoreReasonDropdown.label selected=ignoreReasonDropdown.selected
            id="reasonType" modifiers="xs" }}
          </div>
          <div class="l-push-btm--md">
            {{> @dropdown options=ignoreExpiresDropdown.options label=ignoreExpiresDropdown.label id="expires" modifiers="xs" }}
          </div>
          {{#unless ../../../showFix }}
            {{> @form-checkbox
              checkbox-label="Until fix is available"
              checkbox-name="disregardIfFixable"
              checkbox-id=(concat "untilfix" ../id)
              checkbox-checked=disregardIfFixable
              value="true"
            }}
          {{/unless}}
          <div class="l-push-btm--sm">
            {{> @form-input--text
              label="Details"
              label-hidden=true
              placeholder="Details (optional)"
              input-modifier="input--xs"
              name="reason"
              value=reason
            }}
          </div>
          <div class="u--pd-t__sm rule--top">
            {{> @button button="Update Ignore" modifiers="sm"}}
          </div>
        {{/ @form}}
      {{/ @dialog}}

    {{/each}}

    <!-- Patched issue -->
    {{#each patches}}
      {{> @patched-card }}
    {{/each}}

    <!-- Fix CTA -->
    {{#unless_eq issueType "license"}}
      {{#if showFix}}
        {{> @fix-card
          url=fixUrl
          disabled=fixDisabled
        }}
      {{/if}}
    {{/unless_eq}}

    <div class="prose prose--markdown">

      {{#if supportsFix}}
        <h2>Detailed paths and remediation</h2>
      {{else}}
        <h2>Detailed paths</h2>
      {{/if}}

      <ul class="issue__paths paths" data-snyk-limit-list="3" {{test-hook "issue card paths"}}>
        {{#each issues}}
          <li>
            <div class="path__introduced l-push-btm--sm">
              <strong>Introduced through</strong>:
              {{!-- TODO: When we use this component for displaying issues on the test page,
                    do we get double arrays for `issue.from`? --}}
              {{#each from}}
                {{.}}{{#unless @last}} <span class="path__arrow">›</span> {{/unless}}
              {{/each}}
            </div>

            {{#if_any @root.supportsFix isUpgradable isPatchable}}
              <div class="path__remediation" {{test-hook "issue card remediation"}}>

                <strong>Remediation:</strong>
                {{#if_any isUpgradable isPatchable}}

                  {{#upgradeAvailable upgradePath}}<!-- Direct dependency with upgrade. -->

                    {{#if isOutdated}}
                      Your dependencies are out of date, otherwise you would be using a newer {{name}} than {{name}}@{{version}}.
                      {{#if_eq type 'npm'}}Try deleting node_modules, reinstalling and running <code><a href="/docs/using-snyk/#wizard">snyk wizard</a></code>. If the problem persists, one of your dependencies may be bundling outdated modules.{{/if_eq}}
                      {{#unless_eq type 'npm'}}Try reinstalling your dependencies. If the problem persists, one of your dependencies may be bundling outdated modules.{{/unless_eq}}
                    {{else}}
                      Upgrade to {{#firstNonFalse upgradePath}}{{.}}{{/firstNonFalse}}.
                    {{/if}}

                  {{else}}<!--  This is not a direct dependency, but there is an upgrade -->

                    {{#if patches}}<!-- There are patches -->
                      Run <code><a href="/docs/using-snyk/#wizard">snyk wizard</a></code> to patch {{name}}@{{version}}.
                    {{else}}<!-- There are no patches -->
                        No direct dependency upgrade can address this issue. If possible, manually upgrade to {{#firstNonFalse upgradePath}}{{.}}{{/firstNonFalse}}.
                    {{/if}}

                  {{/upgradeAvailable}}

                  {{else}}<!-- There are no upgrades or patches -->

                    No remediation path available.

                {{/if_any}}

              </div><!-- .path__remediation -->
            {{/if_any}}
          </li>
        {{/each}}
      </ul><!-- .paths -->

      <!--  Issue Description -->

      {{#if_all supportsFix unreachablePaths}}
        <h2>Unreachable paths</h2>
        <p>Following modules are not fixable via Snyk as we are unable to reach the relevant files to update them.</p>
        <ul>
          {{#each unreachablePaths}}
            <li class="l-push-btm--md">
              <div class="l-push-btm--sm">
                <strong>Module:</strong>
                {{@key}}
              </div>
              <div>
                <strong>Location:</strong>
                {{this}}
              </div>
            </li>
          {{/each}}
        </ul>
      {{/if_all}}
      {{#if description}}
      <div {{test-hook "issue card description"}}{{#if_any ignored patches}} class="hidden"{{/if_any}}>
        {{{markdown description}}}
      </div>
      {{/if}}
    </div>

    <div class="issue__cta" {{test-hook "issue card cta"}}>
      <span>
        {{> @link label="More about this issue" href=url }}
      </span>

      <div class="u--d__if">
        <div class="l-push-right--sm">
            {{#if jiraIssues }}
              {{~#each jiraIssues}}
                {{> @jira-link
                  link-text=(concat "Jira " jiraIssue.key)
                  link-href=jiraIssue.url
                  link-test-hook=jiraIssue.testHook
                }}
              {{/each}}
            {{/if}}

            {{#if jiraUI}}
              {{#if jiraConnectionFailed}}
                {{> @jira-link
                  link-href=jiraCreateIssueLink
                  link-text="Create a Jira issue"
                  title="There was a problem with our connection to the Jira instance."
                }}
              {{else}}
                {{> @jira-link
                  link-href=jiraCreateIssueLink
                  link-text="Create a Jira issue"
                  :click="showModal"
                }}
              {{/if}}
            {{/if}}
        </div>


        {{#if @root.allowAddIgnores}}
          {{#unless ignored}}
            <span>
              {{> @button
                button="Ignore"
                id=(concat 'ignore-edit-trigger-' (slugify id))
                icon="ignore"
                ignore-target=(concat '#ignore-edit-' (slugify id))
                button-test-hook="ignore edit form"
                modifiers="xs,outlined" }}
            </span>
          {{/unless}}
        {{/if}}
      </div>
    </div>

  </div>

</div>
