<span class="issue-fixable{{#if modifiers}}{{#each (splitList modifiers) }} issue-fixable--{{this}}{{/each}}{{/if}}" {{test-hook "issue fixable"}}>
{{#if isFixed}}
  &ndash;
{{else}}
  {{#if_any isUpgradable isPatchable  }}
    {{svg "icon/check" width="20" height="20" class="action-create"}}
    {{~#if isUpgradable}} Upgrade{{/if}}
    {{~#if_all isPatchable   isUpgradable}},{{/if_all}}
    {{~#if isPatchable  }} Patch{{/if}}
  {{else}}
    {{svg "icon/cross" width="20" height="20" class="action-destroy"}} No
  {{/if_any}}
{{/if}}
</span>
