{{var "linkLoadingId" (uuid "")}}
<a
{{#if href}}href="{{href}}"{{/if}}
class="{{modifier}}{{#if modifiers}}{{#each (splitList modifiers) }} link-loading--{{this}}{{/each}}{{/if}} {{class}}" {{!-- Depricating modifier in favour of modifiers --}}
{{#if link-id}}id="{{link-id}}"{{/if}}
{{#if link-test-hook}}{{test-hook (concat link-test-hook)}}{{/if}}
data-snyk-link-loading="#{{linkLoadingId}}"
{{#if data}}{{data}}{{/if}}>
  {{~#if icon}}{{svg (concat "icon/" icon) height="21" width="21"}}{{/if}}
  {{label}}

  {{> @loading-spinner
    modifiers="inline, xs, hidden"
    style="margin: -0.25em 0 -.25em 0.2em"
    id=linkLoadingId
  }}
  {{#if badgeLabel}}
    {{> @badge
      label=badgeLabel
      url=false
      modifiers="premium"
      badge-style="margin-top: -.15em; float: right;"
    }}
  {{/if}}
</a>
