<pre class="log">
  Processed us-east-1 / helloworld ($LATEST) <span class="log__muted">from</span> undefined
  - Found package.json
  <strong class="log__success">1 project created</strong>

  Processed us-east-1 / helloworld (shaun-greeter) <span class="log__muted">from</span> undefined
  - Found package.json
  <strong class="log__success">1 project created</strong>

  Processed us-east-1 / helloworld (staging) <span class="log__muted">from</span> undefined
  <strong class="log__muted">0 projects created</strong>

  Processed us-east-1 / serverless-sample-vuln-func-dev-currentTime ($LATEST) <span class="log__muted">from</span> undefined
  - Found package.json
  <strong class="log__success">1 project created</strong>

  Processed us-east-1 / lambda-fixture ($LATEST) <span class="log__muted">from</span> undefined
  - Found package.json
  <strong class="log__success">1 project created</strong>

  Processed us-east-1 / lambda-fixture (TEST) <span class="log__muted">from</span> undefined
  - Found package.json
  <strong class="log__success">1 project created</strong>

  <span class="log__error">Error processing us-east-1 / outreach (github-outreach) <span class="log__muted">from</span> AWS Lambda</span>
  <strong class="log__muted">0 projects created</strong>

  Processed us-east-1 / serverless-simple-http-endpoint-dev-currentTime ($LATEST) <span class="log__muted">from</span> AWS Lambda
  - Found package.json
  <strong class="log__success">1 project created</strong>

  Processed us-east-2 / sawubona ($LATEST) <span class="log__muted">from</span> AWS Lambda
  <strong class="log__muted">0 projects created</strong>

  <span class="log__highlight log__progress">Processing <strong>helloworld</strong> <span class="log__muted">from</span> AWS LOCAL Lambda</span>
</pre>
