{{~#if title}}
  {{> @heading
    heading=title
    modifiers="subhead"
    heading-level="2"
    test-hook="metrics heading"
  }}
{{/if}}
<ul class="metrics {{#if modifiers}}{{#each (splitList modifiers) }} metrics--{{this}}{{/each}}{{/if}}">
  {{~#each metrics}}
  <li class="metric
    {{~#if error}} metric--error{{/if}}
    {{~#if severity}} metric--{{severity}}-severity{{/if}}
    {{~#if loading}} metric--loading{{/if}}"
    {{~#if name}} data-snyk-metric="{{name}}"{{/if}}
    {{~#if loading}} data-snyk-metric-loading{{/if}}
    {{~#if test-hook}} {{test-hook (concat test-hook)}}{{else}} {{test-hook "metric"}}{{/if}}>
    <span class="metric__number" data-snyk-metric-number {{test-hook "metric number"}}>
      {{~#if loading}}{{> @loading-spinner modifiers="md"}}{{/if}}
      {{~#if error}}Unable to load metric{{/if}}
      {{~#if url}}<a class="metric__url" href="{{url}}">{{/if}}
        {{~number~}}
      {{~#if url}}</a>{{/if}}
    </span>
    <span class="metric__label" data-snyk-metric-label {{test-hook "metric label"}}>
      {{~label~}}
      {{~#if description}}
        {{> @tooltip label=false}}
      {{/if}}
    </span>
    {{~#if note}}
      <span class="metric__note" data-snyk-metric-note {{test-hook "metric note"}}>
        {{~#if noteUrl}}<a href="{{noteUrl}}">{{/if}}
          {{~#unless_eq note true}}{{~note~}}{{/unless_eq}}
        {{~#if noteUrl}}</a>{{/if}}
      </span>
    {{/if}}
  </li>
  {{~/each}}
</ul>
