<div class="meter"{{#if load-usage-async}} data-snyk-load-usage='{{{json load-usage-async}}}'{{/if}}>
  <p class="meter__description">
    {{#if starttime}}
      {{fullDate starttime}} - {{fullDate endtime}}
    {{else}}
      {{#if endtime}}
        {{pluralize (diffMoment 'days' endtime ) 'days' true}} remaining
      {{/if}}
    {{/if}}
  </p>
  <div class="meter__bar{{#if load-usage-async}} meter__bar--loading{{/if}} {{#if (gt value limit)}} meter__bar--over{{/if}}">
    <span class="meter__bar__amount">{{#if load-usage-async}}Fetching usage data{{else}}{{pluralize value measurement true}}{{/if}}</span>
    <div class="meter__bar__line" style="width: {{#if value}}{{math (min (math value '/' limit) 1) '*' 100}}{{else}}0{{/if}}%;"></div>
    {{#if (gt value limit)}}
    <div class="meter__bar__line__overage" style="width: {{math (math (math value '-' limit) '/' value) '*' 100}}%"></div>
    {{/if}}
  </div>
  {{#if limit}}
  <ol class="meter__scale" aria-hidden="true" role="presentation" style="width: {{#if (gt value limit)}}{{math 100 "-" (math (math (math value '-' limit) '/' value) '*' 100)}}{{else}}100{{/if}}%;">
    <li class="meter__scale__item">0</li>
    <li class="meter__scale__item">{{math limit "/" 2}}</li>
    <li class="meter__scale__item">{{limit}}</li>
  </ol>
  {{/if}}
</div>
