<nav
  class="nav{{#if modifiers}}{{#each (splitList modifiers) }} nav--{{this}}{{/each}}{{/if}}"
  role="navigation"
  aria-label="{{#if description}}{{description}}{{else}}Section links{{/if}}"
  {{#if test-hook}}{{test-hook (concat test-hook)}}{{else}}{{test-hook "section nav"}}{{/if}}>
  <ul class="nav__list">
    {{#each sections}}
      <li class="nav__item"
      {{#if ../searchFilter}}data-snyk-search-filter="item"{{/if}}
      {{#if current}} aria-current="page"{{/if}}>
      {{#if showLinkLoading }}
        {{> @link-loading
          href=url
          class="nav__link"
          test-hook="section nav link"
          label=label
        }}
      {{else}}
        <a href="{{url}}"
          class="nav__link"
          {{test-hook "section nav link"}}>
            {{label}}
            {{#if badgeLabel}}
              {{> @badge
                label=badgeLabel
                url=false
                modifiers="premium"
                badge-style="margin-top: -.15em; float: right;"
              }}
            {{/if}}
          </a>
      {{/if}}
      </li>
    {{/each}}
  </ul>
</nav>
