<ul class="navatar" {{test-hook "navatar"}}>
  {{#each switches}}
  <li class="navatar__switch navatar__switch--{{id}}"
  {{#if test-hook}}{{test-hook (concat test-hook)}}{{else}}{{test-hook "navatar switch"}}{{/if}}>
    <a href="{{link}}"
    class="navatar__link"
    {{#if label}} title="{{label}}"{{/if}}
    {{test-hook "navatar switch link"}}>
    {{#if avatar}}
      {{#if selected}}
        {{> @avatar
          size="64"
          modifiers="selected"
          url=avatar
          label-hidden=true
        }}
      {{else}}
        {{> @avatar
          size="64"
          url=avatar
          label-hidden=true
        }}
      {{/if}}
    {{else}}
      {{#if selected}}
        {{> @avatar
          initials=initials
          size="64"
          modifiers="selected"
          label-hidden=true
        }}
      {{else}}
        {{> @avatar
          initials=initials
          size="64"
          label-hidden=true
        }}
      {{/if}}
    {{/if}}
    </a>
  </li>
  {{/each}}
</ul>
