<div class="option{{#if_eq @root.contract.planName description}} option--highlighted{{/if_eq}}"
{{test-hook (concat "option - " (lower description))}}>
  <div class="option__heading {{modifier}}">
    <h{{#if heading-level}}{{heading-level}}{{else}}2{{/if}} class="option__heading__title">{{#if heading-icon}}{{svg (concat "icon/" heading-icon) }}{{/if}}{{description}}</h{{#if heading-level}}{{heading-level}}{{else}}2{{/if}}>

  </div>
  <div class="option__content">

    <div class="option__content__info">
      {{#if_eq description "Free plan"}}
          <ul>
            <li>Unlimited tests on open source projects</li>
            <li>200 private tests/month</li>
          </ul>
          <p><a href="/plans">See all plan features</a></p>
      {{/if_eq}}
      {{#if_eq description "Standard plan"}}
        <ul>
          <li>Unlimited tests</li>
          <li>Org-wide reports</li>
          <li>Rich API</li>
        </ul>
        <p><a href="/plans">See all plan features</a></p>
      {{/if_eq}}
      {{#if_eq description "Pro plan"}}
        <ul>
          <li>Unlimited tests</li>
          <li>Self-hosted SCM support</li>
          <li>SSO</li>
        </ul>
        <p><a href="/plans">See all plan features</a></p>
      {{/if_eq}}
      {{#if_eq description "Enterprise plan"}}
        <ul>
          <li>Unlimited tests</li>
          <li>On-premises support</li>
          <li>Early notifications</li>
        </ul>
        <p><a href="/plans">See all plan features</a></p>
      {{/if_eq}}
    </div>

    <div class="option__content__action">

  {{#if_eq description "Free plan"}}
        {{#> @form
        form-test-hook=(concat "option main form - " option-id)
        action="billing/terminate"
        method="POST"
        }}
          <p class="t--faded">Free</p>
          {{#if_all (eq @root.contract.planName description) (not (isInTrial @root.contract.trialExpires))}}
            {{> @button
              button-disabled="true"
              button="Current plan"
            }}
          {{else}}
            {{> @button
              button="Downgrade"
            }}
          {{/if_all}}
        {{/ @form}}
   {{else}}
      {{#> @form
      form-test-hook=(concat "option main form - " option-id)
      action="billing/checkout"
      method="POST"
      data="data-snyk-billing-checkout"
      }}
        {{#if_eq description "Business plan"}}
          <div class="select select--sm">
            <select name="plan" data-snyk-billing-plan-select="#plan-submit-business">
              <option{{#if_eq @root.contract.name 'business_annual'}} disabled selected{{/if_eq}} value="{{year.name}}">${{math year.amount "/" 100}}/month annually</option>
              <option{{#if_eq @root.contract.name 'business_monthly'}} disabled selected{{/if_eq}} value="{{month.name}}">${{math month.amount "/" 100}}/month monthly</option>
            </select>
          </div>
          {{#if_eq @root.contract.planName description}}
            {{> @button
                id="plan-submit-business"
                button-disabled="true"
                button="Current plan"
              }}
          {{else}}
            {{#if_eq @root.contract.planName "Custom"}}
              {{> @button
                button="Downgrade"
              }}
            {{else}}
              {{> @button
                button="Upgrade"
              }}
            {{/if_eq}}
          {{/if_eq}}

        {{/if_eq}}

        {{#if_eq description "Standard plan"}}
          {{#if_eq @root.contract.planName description}}
            {{> @button
              button-disabled="true"
              button="Current plan"
            }}
          {{else}}
            {{> @link
              modifier="link--btn"
              label="Contact us"
              href="https://info.snyk.io/book-a-demo"
            }}
          {{/if_eq}}
        {{/if_eq}}

        {{#if_eq description "Pro plan"}}
          {{#if_eq @root.contract.planName description}}
            {{> @button
              button-disabled="true"
              button="Current plan"
            }}
          {{else}}
            {{> @link
              modifier="link--btn"
              label="Contact us"
              href="https://info.snyk.io/book-a-demo"
            }}
          {{/if_eq}}
        {{/if_eq}}

        {{#if_eq description "Enterprise plan"}}
          {{#if_eq @root.contract.planName description}}
            {{> @button
              button-disabled="true"
              button="Current plan"
            }}
          {{else}}
            {{> @link
              modifier="link--btn"
              label="Contact us"
              href="https://info.snyk.io/book-a-demo"
            }}
          {{/if_eq}}
        {{/if_eq}}

      {{/ @form}}

    {{/if_eq}}
    </div>
  </div>
</div>
