<div class="form__group form__group--stretch">

  <label for="{{password-toggle-id}}" class="{{#if label-hidden}}hidden{{/if}} {{#if required}}required{{/if}}">{{label}}</label>

  <input type="password" name="{{password-toggle-id}}" id="{{password-toggle-id}}" class="{{modifier}}" {{#if placeholder}}placeholder="{{password-toggle-placeholder}}"{{/if}} {{#if error}}aria-describedby="error-{{password-toggle-id}}"{{/if}} {{#if required}}required{{/if}} {{#if password-toggle-value}}value="{{password-toggle-value}}"{{/if}} {{#if password-toggle-data}}{{password-toggle-data}}{{/if}}{{#if password-toggle-test-hook}} {{test-hook (concat password-toggle-test-hook)}}{{/if}}/>

  {{> @button button="Show"}}

  {{#if error}}
  {{#> @alert modifiers="warning" id=(concat id "-error")  }}
  {{error}}
  {{/ @alert}}
  {{/if}}

  {{#if caption}}
  {{#> @caption}}
  {{#if @partial-block}}
    {{> @partial-block }}
  {{else}}
    {{{caption}}}
  {{/if}}
  {{/ @caption}}
  {{/if}}

</div>
