<div class="plan-option {{#if current}}plan-option--highlight{{/if}}" {{test-hook (concat "Plan option - " planName)}}>
  <div class="plan-option__heading {{modifier}}">
    <h3 class="plan-option__heading__title">{{planName}} plan</h3>
  </div>
  <div class="plan-option__content">
    <div class="plan-option__content__info">
      <ul class="plan-option__content__features">
        {{#each features}}
          <li>
            {{{markdown @this}}}
          </li>
        {{/each}}
      </ul>
      <p><a href="/plans">See all plan features</a></p>
    </div>

    <div class="plan-option__content__action">
      {{#if @partial-block}}
        {{> @partial-block }}
      {{else}}
        {{> @button button="Upgrade"}}
      {{/if}}
    </div>
  </div>

</div>
