<div class="project-card" {{test-hook (concat 'project card ' title)}}>

  {{!-- Project title --}}
  <div class="project-card__header">
    <h3 {{test-hook (concat 'project title')}} class="project-card__title">
      <a href="{{url}}" class="project-card__link" {{test-hook 'project url'}}>
        {{svg (concat "icon/" type) class="project-group__origin-icon"}}
        {{title}}
        {{#if alias}}
          <span class="project__alias" {{test-hook 'project alias'}}>
            {{alias}}
          </span>
        {{/if}}
      </a>
      {{#if isPrivate}}
        <span {{test-hook 'project private'}}>
          {{svg "icon/private" class="project-group__origin-private" width="16" height="16"}}
        </span>
      {{/if}}
    </h3>
    {{#if showOrg}}
    <div class="project-card__org" {{test-hook 'project org'}}>
      {{> @badge
        label=org
        url=orgUrl
      }}
    </div>
    {{/if}}
  </div>

  <ul class="list list--inline l-push-top--sm">
    <li class="list__item l-push-right--sm l-push-btm--sm l-push-top--sm">
      {{> @severity test-hook="project severity"}}
    </li>
    {{#if isNew}}
    <li class="list__item l-push-right--sm l-push-btm--sm l-push-top--sm">
      {{> @badge label="new" modifiers="premium" url="" test-hook="project new"}}
    </li>
    {{/if}}
    <li class="list__item" {{test-hook 'project updated'}}>
      Updated {{relativeMoment updated}}
    </li>
  </ul>

  <ul class="list list--inline project-card__metadata">
    <li class="list__item l-push-right--sm">
      <strong>Dependencies:</strong> <span {{test-hook 'project dependency count'}}>{{totalDependencies}}</span>
    </li>
    <li class="list__item">
      <strong>Source:</strong> {{svg (concat "icon/" source) height=20 width=20}} <span {{test-hook 'project source'}}>{{capitalizeOrigin source}}</span>
    </li>
  </ul>

</div>
