<div class="project-group" {{test-hook (concat 'project-' name)}}>
  <h2 class="project-group__name" {{test-hook (concat 'project-name-' name)}}>
    {{svg (concat "icon/" origin) class="project-group__origin-icon"}} {{name}}{{#if isPrivate}}{{svg "icon/private" class="project-group__origin-private" width="16" height="16"}}{{/if}}
    {{#if @root/includeOrgsOnTitles}}
      <a href="/org/{{orgName}}/projects">{{orgName}}</a>
    {{/if}}
  </h2>

  {{#if showAdd}}
  <details class="project-group__settings" repoId="{{repoPublicId}}" origin="{{origin}}" name="{{name}}" targetFiles="{{targetFiles}}">
    <summary class="project-group__settings-toggle" data-snyk-project-group-toggle {{test-hook (concat 'toggle-submodules-' name)}}>
      {{svg "icon/add" width="20" height="20" }}
    </summary>
    <div class="project-group__settings__details">
    {{#if authenticated}}
      {{#> @form
        form-test-hook=(concat "project add target file - " name)
        action=addTargetFileAction
        method="POST"
      }}
        <div id="sub-module-space">
          {{> @spinner--scanning}}
        </div>
      {{/ @form}}
      <h3 class="heading--p">Add target from a custom location:</h3>
      {{#> @form
        form-test-hook=(concat "project add target file - " name)
        form-modifier="form__group form__group--inline"
        action=addTargetFileAction
        method="POST"
      }}
      <input type="hidden" name="repos[]" value="{{repoPublicId}}">
      {{> @form-input--text
        id=(concat "repo-" repoPublicId "-target")
        name=(concat "repo-" repoPublicId "-target")
        placeholder="/path/to/file.ext"
        label="Target"
        input-test-hook="project add target file input"
        input-modifier="input--sm"
        input-data="data-snyk-add-custom-projects-input"
        }}
        {{> @button
          modifiers="xs"
          button="Add project"
          button-data="data-snyk-add-custom-projects"
          button-disabled="true"
        }}
      {{/ @form}}
    {{else}}
      You need to <a href="/auth/github-upgrade">authenticate with GitHub</a> before you can create a project
    {{/if}}
    </div>
  </details>
  {{/if}}

  {{#if hasMultipleTargets}}
    {{#> @alert modifiers="warning"}}
      Multiple targets supported. Which do you want to add?
    {{/@alert}}
  {{/if}}

  <ul class="project-group__projects">
    {{#each projects}}
    <li class="project-group__projects-item">
      {{> @project showProjectSettings=../showProjectSettings}}
    </li>
    {{/each}}
  </ul>
</div>
