<div class="l-column" style="max-height: 100%;">
  <div style="overflow-y: scroll; overflow-x: hidden;">
    <h3 class="t--xs rule--btm l-push-top--xs l-pad-btm--md">Quick filters</h3>
    <div v-if="items.length">
      <nav class="nav nav--border nav--bare nav--underlined" role="navigation" aria-label="Section links" data-snyk-test="section nav">
        <ul class="nav__list">
          <li class="nav__item" :aria-current="isSelectedQuickFilter(item.id)" v-for="item in items">
            <div class="nav__link" v-on:click="updateSelectedQuickfilter(item.id)">
              <div v-if="item.editing" style="display: flex; justify-content: space-between; align-items: center;">
                <div style="width: 80%;">
                  <input
                    type="text"
                    placeholder="Name your report"
                    style="display: inline; width: 85%;"
                    v-model="item.name"
                    @keyup.enter="renameItem(item.id)"
                    />
                  <span style="width: 11%; display: inline-block; font-weight: normal;">
                    {{> @button
                      :click="renameItem(item.id)"
                      v-show="nameIsValid"
                      modifiers="neutral, link"
                      button-class="t--xs"
                      button="Save"
                    }}
                  </span>
                </div>
                <span style="font-weight: normal;">
                  {{> @button
                    :click="removeSelectedQuickfilter(item.id)"
                    modifiers="link,hoveronly"
                    aria-label="Remove"
                    icon="delete"
                    style="border: none !important; color: #ACABB3;"
                  }}
                </span>
              </div>
              <div v-else style="display: flex; justify-content: space-between; align-items: center;">
                <span>
                  \{{item.name}}
                  {{> @button
                    :click="editSelectedFilter(item.id)"
                    modifiers="neutral, hoveronly, link"
                    button="Edit"
                    button-class="t--xs"
                  }}
                </span>
                <span>
                  {{> @button
                    :click="removeSelectedQuickfilter(item.id)"
                    modifiers="link,hoveronly"
                    aria-label="Remove"
                    icon="delete"
                    style="border: none !important; color: #ACABB3;"
                  }}
                </span>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
    <div v-else class="t--faded u--m-t__a">
      {{> @heading
        heading="You don’t have any Quick filters yet."
        modifiers="subhead"
      }}
      <p>Quick filters allow you to save selected organisations for quick reuse.</p>
    </div>
  </div><!-- .l-column - Overflow container -->
  <div class="rule--top l-pad-top--sm l-push-btm--none t--sm u--m-t__a" style="margin-top: auto;" :class="{'quick-filters__create--inactive':isEditing}">
    <span style="color: #4b45a1">{{svg "icon/add" width="18"}}</span>
    {{> @button
      button="Save selected organisations"
      :click="createQuickfilter"
      modifiers="link"
    }}
  </div>
</div>
