<ul class="severity-list severity-list--compact" {{#if severity-list-test-hook}} {{test-hook (concat severity-list-test-hook)}}{{/if}}>
  {{#if issueCountsBySeverity.high}}
  <li class="severity-list__item severity-list__item--high" {{test-hook "severity list item high"}}>
    <span class="severity-list__item-text">H</span>
  </li>
  {{/if}}
  {{#if_eq severity "high"}}
  <li class="severity-list__item severity-list__item--high" {{test-hook "severity list item high"}}>
    <span class="severity-list__item-text">H</span>
  </li>
  {{/if_eq}}
  {{#if issueCountsBySeverity.medium}}
  <li class="severity-list__item severity-list__item--medium" {{test-hook "severity list item medium"}}>
    <span class="severity-list__item-text">M</span>
  </li>
  {{/if}}
  {{#if_eq severity "medium"}}
  <li class="severity-list__item severity-list__item--medium" {{test-hook "severity list item medium"}}>
    <span class="severity-list__item-text">M</span>
  </li>
  {{/if_eq}}
  {{#if issueCountsBySeverity.low}}
  <li class="severity-list__item severity-list__item--low" {{test-hook "severity list item low"}}>
    <span class="severity-list__item-text">L</span>
  </li>
  {{/if}}
  {{#if_eq severity "low"}}
  <li class="severity-list__item severity-list__item--low" {{test-hook "severity list item low"}}>
    <span class="severity-list__item-text">L</span>
  </li>
  {{/if_eq}}
</ul>
