<ul class="severity-list{{#if modifiers}}{{#each (splitList modifiers) }} severity-list--{{this}}{{/each}}{{/if}}">
  <li class="severity-list__item severity-list__item--{{#if lastSnapshot.issueCountsBySeverity.high}}high{{else}}none{{/if}}">
    <span class="severity-list__item-count">{{#if lastSnapshot.issueCountsBySeverity.high}}{{lastSnapshot.issueCountsBySeverity.high}}{{else}}0{{/if}}</span>
    <span class="severity-list__item-text">H</span>
  </li>
  <li class="severity-list__item severity-list__item--{{#if lastSnapshot.issueCountsBySeverity.medium}}medium{{else}}none{{/if}}">
    <span class="severity-list__item-count">{{#if lastSnapshot.issueCountsBySeverity.medium}}{{lastSnapshot.issueCountsBySeverity.medium}}{{else}}0{{/if}}</span>
    <span class="severity-list__item-text">M</span>
  </li>
  <li class="severity-list__item severity-list__item--{{#if lastSnapshot.issueCountsBySeverity.low}}low{{else}}none{{/if}}">
    <span class="severity-list__item-count">{{#if lastSnapshot.issueCountsBySeverity.low}}{{lastSnapshot.issueCountsBySeverity.low}}{{else}}0{{/if}}</span>
    <span class="severity-list__item-text">L</span>
  </li>
</ul>
