<span class="status{{#if modifiers}}{{#each (splitList modifiers) }} status--{{this}}{{/each}}{{/if}}"{{~#if date}} title="{{label}} {{fullDate date}}."{{/if}} {{test-hook "status"}}>
{{~#if icon}}
  {{~#if_eq icon "check"}}
    {{svg "icon/check" width="20" height="20" class="action-create"}}
  {{/if_eq}}
  {{~#if_eq icon "cross"}}
    {{svg "icon/cross" width="20" height="20" class="action-destroy"}}
  {{/if_eq}}
{{/if}}
  {{label}}
  {{~#if note}}<span class="status__note">{{note}}</span>{{/if}}
</span>
