{{#if submodules.length}}
<div class="submodules">
  <input type="hidden" name="repos[]" value="{{repoPublicId}}">
  <h3 class="heading--p">Add target(s) from detected sub-modules:</h3>
  {{#> @list--ul
    ul-list-modifier="submodules__list"}}
    {{#ifCond submodules.length '>' 1}}
      <li class="submodules__list__item submodules__list__heading">
        {{> @form-checkbox
          checkbox-label="Select all"
          checkbox-id=(concat 'submodule-' repoPublicId)
          checkbox-select-all=(concat "submodules-" repoPublicId)
          checkbox-test-hook="submodule target checkbox"
          checkbox-label-test-hook="submodule target checkbox label"
          checkbox-value=(concat "repo-" repoPublicId "-target")
        }}
      </li>
    {{/ifCond}}
    {{#each submodules}}
      <li class="submodules__list__item">
      {{> @form-checkbox
        checkbox-label=name
        checkbox-id=(concat 'submodule-' name)
        checkbox-value=name
        checkbox-name=(concat "repo-" ../repoPublicId "-target")
        checkbox-select-all-item=(concat "submodules-" ../repoPublicId)
        checkbox-label-test-hook=(concat 'submodule-' name)
        checkbox-test-hook="submodule checkbox"
        checkbox-count="true"
      }}
      </li>
    {{/each}}
  {{/ @list--ul }}
  {{> @button
    modifiers="xs"
    modifier="l-push-btm--md"
    button="Add projects"
    button-test-hook=(concat "add-projects-to-" owner "/" repo)
    button-data="data-snyk-add-projects"
    button-disabled="true"
  }}
</div><!-- .submodules -->
{{/if}}
