<nav class="tabs{{#if modifiers}}{{#each (splitList modifiers)}} tabs--{{this}}{{/each}}{{/if}}"{{#if tabs-test-hook}} {{test-hook (concat test-hook)}}{{/if}}>
  {{#if note}}
  <p class="tabs__note"{{#if tabs-note-test-hook}} {{test-hook (concat test-hook)}}{{/if}}>
    {{#> note}}
      {{note}}
    {{/note}}
  </p>
  {{/if}}
  <ul class="tabs__list" role="tablist" data-snyk-tabs>
    {{#each tabs}}
    <li class="tabs__item"{{#if tabs-item-test-hook}} {{test-hook (concat test-hook)}}{{/if}}
    {{#if current}} aria-current="page"{{/if}}
    {{#if v-bind:aria-current}} v-bind:aria-current="{{v-bind:aria-current}}"{{/if}}
    >
      <a {{#if url }}href="{{url}}"{{/if}} {{#if v-on:click}}@click="{{v-on:click}}"{{/if}} class="tabs__link" role="tab">
        {{label}}
        {{#if count}}
          {{#if countUpdated}}
            {{> @pill
              label=count
              modifiers="highlight"
            }}
          {{else}}
            {{> @pill
              label=count
              modifiers="disabled"
            }}
          {{/if}}
        {{/if}}
      </a>
    </li>
    {{/each}}
  </ul>
  {{#if @partial-block}}
    <div class="tabs__addendum">
      {{> @partial-block }}
    </div>
  {{/if}}
</nav>
