<div class="toolbar">
  <div class="toolbar__row">
    <form class="toolbar__item" action="/org/{{org.name}}/projects?{{withoutParam query 'q'}}" method="get">
      {{> @form-input--search form-group="true" form-group-stretch="true" label="search" label-hidden="true" value=(concat searchTerm) name="q" placeholder="Search repositories"}}
      {{#if scope}}
        <input type="hidden" name="scope" value="{{scope}}">
      {{/if}}
    </form>

    {{#if progressTotal}}
    <div class="toolbar__item">
      {{> @import-progress
        complete=progressComplete
        total=progressTotal
        state=progressState
        label=progressLabel
        id=progressId
      }}
    </div>
    {{/if}}

    <div class="toolbar__item">
      {{> @link modifier="link--btn" label="Add projects" href=(concat "/org/" org.name "/sources")}}
    </div>
  </div>

  <div class="toolbar__row">
    <div class="toolbar__item">
      {{> @filter modifiers="horizontal" filterGroups=originFilterGroups}}
    </div>
    {{#if enableAllOrgsProjectView}}
      <div class="toolbar__item">
        {{#if showAllOrgsProjectsLink}}
          <a href="?scope=all_orgs">View projects for all organisations</a>
        {{else}}
          <a href="?">Back</a>
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>
