  <details class="tree__branch" {{test-hook "tree item"}}>

    <summary class="tree__branch-text"{{~#if vulnerable}} data-snyk-tree-item-vulnerable{{/if}}>
      {{~#if vulnerable}}
        {{~#if issueCountsBySeverity}}
          {{> @severity-list--compact
              severity-list-test-hook="dependency severity"}}
        {{/if}}
      {{/if}}

      {{!-- Only enable links on types that support it --}}
      {{#if url}}
        <a class="tree__branch-link" href="{{url}}" {{test-hook "tree item link"}}>{{name}}</a>
      {{else}}
        <span {{test-hook "tree item text"}}>{{name}}</span>
      {{/if}}
      <span class="tree__branch-note" {{test-hook "tree item text extra"}}>{{note}}</span>
    </summary>

    {{#each branches}}
      {{> @tree--branch}}
    {{/each}}

  </details><!-- .tree-item -->
