{{#> @interstitial img="/assets/images/snyk-logo.svg" title="Please Login"}}
    <p>
        You need to authorise your account before you can run a scan, please click
        <a href="/perform-login">here</a> to do so.
    </p>
{{/@interstitial}}

