{{#> @interstitial img="/assets/images/snyk-logo.svg" title="No Project Available"}}
    <p>
        You may need to refresh your project, or wait for IntelliJ to
        finish parsing it.  Then click <a href="/vulnerabilities">refresh</a>.
    </p>
{{/@interstitial}}
