{{#> interstitial img="/assets/images/snyk-logo.svg" title="Please Login"}}
    You need to authorise your account before you can run a scan, please click
    <a href="login" target="_blank">here</a> to do so.
{{/interstitial}}

