<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background: #53537A;
        }
    </style>
</head>
<body>
  Running scan... please wait
  <!--<img width="100%" src="/assets/images/scanning.gif">-->
  <video width="100%" autoplay="autoplay" loop="loop" muted>
      <source src="/assets/images/scanning.mp4" type="video/mp4" />
  </video>
</body>
</html>
