<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8">
    {{> @inline-css }}
    <script src="/assets/scripts/snap.svg-min.js"></script>
    <script src="/assets/scripts/SnapSVGAnimator.js"></script>
    <script src="/assets/scripts/snaphelper.js"></script>
    <script type="text/javascript">
        let anilogo = loadSnapAnim({
            jsonfile: "/assets/snap/scanning.json",
            fps: 24,
            width: 500,
            height: 600,
            elementId: "#anilogo"
        });
    </script>
</head>
<body>
    <svg id="anilogo" class="anilogo"></svg>
</body>
</html>
