<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Project</title>
    <link href="../../assets/styles/app.css" rel="stylesheet" media="all">
    {{> @inline-css }}
</head>
<body>
    <h4>Select a Project</h4>
    {{#each projectIds as |id|}}
        <div>
            <a href="{{add_encoded_param redirectUrl "selectedProjectId" id}}">
                <img src="/assets/icons/mavenProject@2x.png" />
                {{id}}
            </a>
        </div>
    {{else}}
        <h4>No maven project detected</h4>
        If you've opened this project for the first time, please wait for IntelliJ to finish
        parsing your maven files, then <a href="/html/select-project.hbs?redirectUrl={{redirectUrl}}">try again</a>
    {{/each}}
</body>
</html>
