<!DOCTYPE html>
<html class="fractal-preview" lang="en-GB">
<head>
    <meta charset="utf-8">
    <link href="../../assets/styles/app.css" rel="stylesheet" media="all">
    {{> @inline-css }}
</head>
<body>
    <main>
        <div class="homelink">
            <a href="start.hbs">Back to start</a>
        </div>

        <ul>
            {{#each miniVulns}}
                {{> @ide-issue-card}}
            {{/each}}
        </ul>

        <div style="display: none">
            {{> @color-sampler }}
        </div>
        {{nowstr}}
    </main>

    <script>
        // Adds class of js to the html tag if JS is enabled
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <script src="../../assets/scripts/vendor/jquery.min.js"></script>

    <script src="../../assets/scripts/app.js"></script>
</body>
</html>
