<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8">
    {{> @inline-css }}
</head>
<body>
    <main>
        {{! <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div> }}
        <ul>
            {{#each miniVulns}}
                {{> @ide-issue-card card_id=@index}}
            {{/each}}
        </ul>

        <div style="display: none">
            {{> @color-sampler }}
        </div>
        {{nowstr}}
    </main>
</body>
</html>
